spring:
  application:
    name: payment
  r2dbc:
    url: ${SPRING_R2DBC_URL:r2dbc:postgresql://localhost:5432/paymentdb}
    username: ${SPRING_R2DBC_USERNAME:postgres}
    password: ${SPRING_R2DBC_PASSWORD:postgres}
    pool:
      initial-size: 3
      min-idle: 3
      max-size: 3
      max-idle-time: 30m
      max-life-time: 30m
      validation-query: SELECT 1

aws:
  s3:
    region: us-east-1
    bucket: product-images-bucket
    endpoint-override:
      enabled: true
      url: ${AWS_S3_ENDPOINT_OVERRIDE_URL:http://localhost:4566}
      region: us-east-1
    netty-nio-properties:
      write-timeout: 0
      max-concurrency: 1000
      max-pending-connection-acquires: 10000
      connection-timeout: 30
      connection-acquisition-timeout: 10s

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      access: read_only
  prometheus:
    metrics:
      export:
        enabled: true