spring:
  application:
    name: checkout
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
      repositories:
          enabled: false

stock:
  base-url: ${STOCK_BASE_URL:http://localhost:8083}
  conn-timeout: 2s
  conn-read-timeout: 2s

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      access: read_only
  prometheus:
    metrics:
      export:
        enabled: true